@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var GetSubMasterCollectionSpecificationUrl = "@Url.Action("GetMasterCollectionSpecification", "Master")";
    var GetMasterCollectionUrl = "@Url.Action("GetMasterCollection", "Master")";
    var GetdepartmentUrl = "@Url.Action("GetDepartment", "Master")";
    var GetStatusUrl = "@Url.Action("GetStatus", "Admin")";
    var GetTurbineUrl = "@Url.Action("GetTurbine", "Master")";
    var GetSummaryReportDetailsUrl = "@Url.Action("GetSummaryDetails", "Report")";
    var GetDownloadUrl = "@Url.Action("DownloadExcelSumRpt", "Report")";
    var GetLogFileUrl = "@Url.Action("LogFile", "Admin")";
    var GetAccessUrl = "@Url.Action("GetPageAccess", "Admin")";
</script>

<div class="col-lg-12 pad-0" ng-controller="Report_OperController">
    <div class="content-part" style="min-height:90vh;">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h5 class="heading-h">Summary Report</h5>
            </div>
            <div class="row mar-0 fomr-div">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <span>Report Type</span>
                    <select id="ddlReportType" ng-model="RptType" ng-change="ChangeData()">
                        <option value="1" selected="selected">CIR</option>
                        <option value="2">FSR</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <span>State</span>
                    <select id="ddlState" ng-model="State" ng-change="SiteDetails()">
                        <option value="0">-- Select All --</option>
                        <option ng-repeat="option in StateArray" ng-selected="0" value="{{option.MCId}}">{{option.Name}}</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <span>Site</span>
                    <select id="ddlSite" ng-model="Site" ng-change="TurbineDetails()">
                        <option value="0">-- Select All --</option>
                        <option ng-repeat="option in SiteArray" value="{{option.MCId}}">{{option.Name}}</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <span>Turbine Type</span>
                    <select id="ddlTurbineType" ng-model="TurbineType" ng-change="ChangeData()">
                        <option value="0">-- Select All --</option>
                        <option ng-repeat="option in TurbineTypeArray" value="{{option.MCId}}">{{option.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row mar-0 fomr-div">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <span>Department</span>
                    <select id="ddlDepartment" ng-model="Department" ng-change="ChangeData()">
                        <option value="0">-- Select All --</option>
                        <option ng-repeat="option in DepartmentArray" value="{{option.DeptId}}">{{option.Dept}}</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <span>Status</span>
                    <select id="ddlStatus" ng-model="Status" ng-change="ChangeData()">
                        <option value="0">-- Select All --</option>
                        <option ng-repeat="option in StatusArray" value="{{option.StsId}}">{{option.Status}}</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <span>Date From</span>
                    <input type="text" id="txtDateFrom" class="datepickerFormat" ng-model="DateFrom" ng-change="ChangeData()" onkeypress="return Enabled(event)" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <span>Date To</span>
                    <input type="text" id="txtDateTo" class="datepickerFormat" ng-model="DateTo" ng-change="ChangeData()" onkeypress="return Enabled(event)" />
                </div>
            </div>
            <div class="row mar-0 fomr-div">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <span>Turbine</span>
                    @*<select id="ddlTurbine" ng-model="Turbine" ng-change="ChangeData()">
                            <option value="0">-- Select All --</option>
                            <option ng-repeat="option in TurbineArray" value="{{option.TbnId}}">{{option.TurbineId}}</option>
                        </select>*@
                    <input type="text" id="txtTurbine" />
                    <input type="hidden" id="hfTurbine" value="0" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top:11px;">
                    <a href="#" class="btn btn-default SearchButton" ng-click="Search()">Search</a>
                    <a href="#" class="btn btn-default ClearButton" ng-click="Clear()" style="margin-right:10px;">Clear</a>
                    <a href="#" class="btn btn-default ClearButton" id="btnExcelDownLoad" ng-click="Download()" ng-show="Download && ReportDetailsArray.length>0">Excel DownLoad</a>
                </div>
            </div>
            <br />
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-6 fomr-div">
                <div class="input-group col-xs-6 col-sm-6 col-lg-6 col-md-6" style="margin-bottom: 15px;">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search Summary Details" ng-model="searchSummary" style="height: 35px;z-index: 1;">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-6 fomr-div">
                <div class="input-group col-lg-12 col-md-12 col-xs-12 col-sm-6 table-responsive">
                    @*<div class="table-responsive">*@
                    @*<table id="tblSummaryreport" class="table table-hover" cellpadding="0" cellspacing="0">
                <thead style="border-bottom-color: #ddd; border-bottom-width: 1px; border-bottom-style: solid; border-top-color: #ddd; border-top-width: 1px; border-top-style: solid;">
                    <tr class="tableHead">*@
                    <table cellpadding="0" cellspacing="0" class="table table-hover table-responsive" id="tblSummaryreport">
                        <thead style="border-top: 1px solid #dddddd;border-bottom: 2px solid #dddddd;">
                            <tr>
                                <td ng-click="sortType = 'SlNo'; sortReverse = !sortReverse" style="text-align:center;cursor:pointer;">
                                    <a href="#" style="text-decoration: none; color: #6b6b6b; font-weight: bold;">
                                        SlNo
                                        <span ng-show="sortType == 'SlNo' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'SlNo' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td ng-click="sortType = 'State'; sortReverse = !sortReverse" style="cursor:pointer;">
                                    <a href="#" style="text-decoration: none; color: #6b6b6b; font-weight: bold;">
                                        State
                                        <span ng-show="sortType == 'State' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'State' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td ng-click="sortType = 'WTGType'; sortReverse = !sortReverse" style="cursor:pointer;">
                                    <a href="#" style="text-decoration: none; color: #6b6b6b; font-weight: bold;">
                                        WTG Type
                                        <span ng-show="sortType == 'WTGType' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'WTGType' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td ng-click="sortType = 'TSite'; sortReverse = !sortReverse" style="cursor:pointer;">
                                    <a href="#" style="text-decoration: none; color: #6b6b6b; font-weight: bold;">
                                        T Site
                                        <span ng-show="sortType == 'TSite' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'TSite' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td ng-click="sortType = 'Department'; sortReverse = !sortReverse" style="cursor:pointer;">
                                    <a href="#" style="text-decoration: none; color: #6b6b6b; font-weight: bold;">
                                        Department
                                        <span ng-show="sortType == 'Department' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Department' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td ng-click="sortType = 'CStatus'; sortReverse = !sortReverse" style="cursor:pointer;">
                                    <a href="#" style="text-decoration: none; color: #6b6b6b; font-weight: bold;">
                                        Status
                                        <span ng-show="sortType == 'CStatus' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'CStatus' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td ng-click="sortType = 'Turbine'; sortReverse = !sortReverse" style="cursor:pointer;">
                                    <a href="#" style="text-decoration: none; color: #6b6b6b; font-weight: bold;">
                                        Turbine
                                        <span ng-show="sortType == 'Turbine' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Turbine' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td ng-click="sortType = 'Designation'; sortReverse = !sortReverse" style="cursor:pointer;">
                                    <a href="#" style="text-decoration: none; color: #6b6b6b; font-weight: bold;">
                                        Designation
                                        <span ng-show="sortType == 'Designation' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Designation' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td ng-click="sortType = 'Reports'; sortReverse = !sortReverse" style="cursor:pointer;">
                                    <a href="#" style="text-decoration: none; color: #6b6b6b; font-weight: bold;">
                                        Reports
                                        <span ng-show="sortType == 'Reports' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Reports' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                        </thead>
                        <tbody style="border-bottom: 1px solid #dddddd;">
                            @*<tr ng-repeat="row in ReportDetailsArray |filter:searchTurbine | limitTo: paginationLimit()">*@
                            <tr ng-repeat="row in ReportDetailsArray | orderBy:sortType:sortReverse | filter:searchSummary  | pagination: curPage * pageSize | limitTo: pageSize">
                                <td style="text-align:center;">
                                    <span>{{row.SlNo}}</span>
                                </td>
                                <td>
                                    <span>{{row.State}}</span>
                                </td>
                                <td>
                                    <span>{{row.WTGType}}</span>
                                </td>
                                <td>
                                    <span>{{row.TSite}}</span>
                                </td>
                                <td><span>{{row.Department}}</span></td>
                                <td>
                                    <span>{{row.CStatus}}</span>
                                </td>
                                <td>
                                    <span>{{row.Turbine}}</span>
                                </td>
                                <td>
                                    <span>{{row.Designation}}</span>
                                </td>
                                <td>
                                    <span>{{row.Reports}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="ReportDetailsArray.length > pageSize">
                        <div class="col-lg-8 col-sm-12 col-xs-12 col-md-8" style="padding-left:0px;">
                            <ul class="pagination-controle pagination">
                                <li>
                                    <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                            ng-click="curPage=0" style="border-radius  : 0px;">
                                        &lt;&lt; First
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                                            ng-click="curPage=curPage-1" style="border-radius  : 0px;">
                                        &lt; Prev
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" style="border-radius  : 0px;"
                                            ng-disabled="curPage >= ReportDetailsArray.length/pageSize - 1"
                                            ng-click="curPage = curPage+1">
                                        Next &gt;
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" style="border-radius  : 0px;"
                                            ng-disabled="curPage >= ReportDetailsArray.length/pageSize - 1"
                                            ng-click="LastPage()">
                                        Last &gt;&gt;
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4" style="padding:20px;padding-right:0px;">
                            <span style="color: black;padding: 8px;background-color: #bbbbbb;" class="pull-right">Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                        </div>
                    </div>

                    @*<table style="display:none">
                    <thead>
                        <tr class="tableHead">
                            <th>
                                State
                            </th>
                            <th>
                                WTG Type
                            </th>
                            <th>
                                T Site
                            </th>
                            <th>
                                Department
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Turbine
                            </th>
                            <th>
                                Designation
                            </th>
                            <th>
                                Reports
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in ExcelReportDetailsArray">
                            <td>
                                <span>{{row.State}}</span>
                            </td>
                            <td>
                                <span>{{row.WTGType}}</span>
                            </td>
                            <td>
                                <span>{{row.TSite}}</span>
                            </td>
                            <td><span>{{row.Department}}</span></td>
                            <td>
                                <span>{{row.CStatus}}</span>
                            </td>
                            <td>
                                <span>{{row.Turbine}}</span>
                            </td>
                            <td>
                                <span>{{row.Designation}}</span>
                            </td>
                            <td>
                                <span>{{row.Reports}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>*@
                    @*<button ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">
                    Show more
                </button>*@
                    @*</div>*@
                </div>
            </div>
            </div>
    </div>
</div>
<script src="~/CIRScripts/ReportController.js" type="text/javascript"></script>
<script type="text/javascript">

    //$("#btnExcelDownLoad").click(function (e) {
    //    $("#tblSummaryreport").table2excel(
    //    {
    //        exclude: ".NoExl",
    //        name: "ExcelDoument"
    //    });
    //    e.preventDefault();
    //});
    // Function autocomplete turbine.
    $("#txtTurbine").keyup(function (e) {
        var param = { txt: $('#txtTurbine').val(), refId: $('#ddlSite').val(), viewType: "3" };
        $("#txtTurbine").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetSearchDetails", "CIR")",
                    data: JSON.stringify(param),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#hfTurbine").val("0");

                        response($.map(data, function (item) {
                            return {
                                label: item.TextValue,
                                val: item.Id
                            }
                        }))
                    },
                    error: function (response) {

                    },
                    failure: function (respose) {

                    }
                });
            },
            minlength: 1,
            select: function (e, i) {
                $("#hfTurbine").val(i.item.val);
                $("#txtTurbine").val(i.item.label);
            }
        });
    });

    $("#txtTurbine").focusout(function (e) {
        var _tmpVal = $("#hfTurbine").val();
        if ((_tmpVal == "0" || _tmpVal == "" || _tmpVal == null) || $("#txtTurbine").val() == "") {
            $("#txtTurbine").val("");
            $("#hfTurbine").val("0");
        }
    });
</script>
