
@{
    ViewBag.Title = "SMPData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0-rc.2/themes/base/jquery-ui.css">
<style>
    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }
</style>
<style>
    .Error {
        color: red !important;
    }

    .Modify {
        color: blue !important;
    }

    .New {
        color: green !important;
    }
</style>
<script type="text/javascript">
    var GetAccessUrl = "@Url.Action("GetPageAccess", "Admin")";
    var GetSMPDataExcelUploadUrl = "@Url.Action("GetSMPDataExcel", "Master")";
    var SetSMPDataExcelUploadUrl = "@Url.Action("SMPDataExcelUpload", "Master")";
    var UploadExcelUrl = "@Url.Action("UploadSMPDataExcel", "Master")";
    var GetLogFileUrl = "@Url.Action("LogFile", "Admin")";
    var SetSMPDataExcelSubmit = "@Url.Action("SMPDataExcelSubmit", "Master")";
    var SetSMPDataSingleDetailUrl = "@Url.Action("SMPDataSingleSave", "Master")";
    var GetMasterCollectionUrl = "@Url.Action("GetMasterCollection", "Master")";
    var GetSMPAssignDetailsUrl = "@Url.Action("GetSMPAssignDetails", "Master")";
    var GetCommentsUrl = "@Url.Action("GetCommentsForSMPData", "Master")";
</script>
<div class="col-lg-12 pad-0" ng-controller="SMPData_OperController" ng-init="init()">
    <div class="content-part" style="min-height:90px;">
        <div class="row">
            <div class="col-lg-12 col-md-12" style="border-bottom: 1px #ccc dotted;padding-bottom:5px;">
                <div class="col-lg-6 col-md-6">
                    <h5 class="heading-h" style="margin-bottom: -10px; border-bottom:0px;">SMP Data Plan Vs Actual Status</h5>
                </div>
                <div class="col-lg-6 col-md-6" style="text-align:right;">
                    <input type="text" ng-model="Pending" style="color:red; text-align:right; border:0px; width:400px;" value="test" />
                </div>
            </div>
            <div class="col-lg-12 col-md-12 fomr-div" ng-show="!IsAdmin">
                <div class="responsive-tabs">
                    <!--Tab sec start-->
                    <h2>SMP Data</h2>
                    <div class="tab-cnt" ng-show="Add">
                        <div style="margin: 20px 0px 0px 0px;" class="row mar-0 fomr-div">
                            <div style="margin-bottom: 10px;" class="row mar-0 fomr-div">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <span>File No</span><br>
                                    <input type="text" id="txtFileNo" ng-model="SUNo" ng-keypress="FileNoChange($event, 1)" maxlength="10" />
                                    <input type="hidden" ng-model="SUId" value="0" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <span>File Name</span><br>
                                    <input type="text" ng-model="FileNameManualSMPData" id="txtFileNameManualSMPData" ng-blur="GetFileNameDetails(1)" />
                                    <input type="hidden" value="0" id="hdnFileNameManualSMPData" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <span>File Name</span><br>
                                    <form id="uploadform">
                                        <input type="file" id="ExcelFileSMP" name="ExcelFileSMP" class="clsExcelFileSMP" />
                                    </form>
                                    <input type="text" id="txtFileName" ng-model="txtFileName" disabled="disabled" style="display: none; background-color: white; border: 1px solid #A9A9A9; padding: 4px;" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <span>Uploaded By</span><br>
                                    <input type="text" disabled="disabled" ng-model="UploadedBy" style="background-color: white; border: 1px solid #A9A9A9; padding: 4px;" id="txtUploadedBy" />
                                </div>
                            </div>
                            <div style="margin-bottom: 15px;" class="row mar-0 fomr-div">
                                <div class="col-lg-6 col-md-6 col-sm-12 pad-0">
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <span>Total Count</span><br>
                                        <input type="text" disabled="disabled" ng-model="Total" style="background-color: white; border: 1px solid #A9A9A9; padding: 4px;" id="txtTotal" />
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <span>Modify</span><br>
                                        <input type="text" disabled="disabled" ng-model="Modified" style="background-color: white; border: 1px solid #A9A9A9; padding: 4px;" id="txtModified" />
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <span>Invalid</span><br>
                                        <input type="text" disabled="disabled" ng-model="Invalid" style="background-color: white; border: 1px solid #A9A9A9; padding: 4px;" id="txtInvalid" />
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: right;">
                                    <br />
                                    <button ng-click="GetComments(1)" id="btnCommentsSMPData" disabled="disabled" style="background: #2c2c2c; color: #fff;margin-right: 94px;" type="button" class="btn btn-default SaveButton">View Comments</button>
                                    <a href="" onclick="fnTemplateDownload()" id="aTemplateDownload" class="btn btn-default ClearButton" style="margin-left: -80px;">Download Template</a>
                                    <button ng-click="UploadSMPDataUpdateExcel()" id="btnUpload" ng-show="Add" style="background: #2c2c2c; color: #fff; margin-left: 15px;" type="button" class="btn btn-default SaveButton">Upload</button>
                                </div>
                            </div>
                            <div class="col-lg-12" style="margin: 10px 0px;">
                                <div class="line"></div>
                            </div>
                            <div class="col-lg-12">
                                <div class="grid-div">
                                    <table cellpadding="0" cellspacing="0" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" style="width: 2%; min-width: 40px;color: #6b6b6b;">S.No</th>
                                                <th rowspan="2" style="width: 2%; min-width: 100px;color: #6b6b6b;" ng-show="!isEditSMPData && IsSaveEditable">Actions</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">State</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">Site</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">Model</th>
                                                <th rowspan="2" style="width: 6%; min-width: 140px;color: #6b6b6b;">Location / SF No</th>
                                                <th rowspan="2" style="width: 8%; min-width: 150px;color: #6b6b6b;">Turbine Id</th>
                                                <th rowspan="2" style="width: 5%; min-width: 160px;color: #6b6b6b;">Functional Location</th>
                                                <th rowspan="2" style="width: 5%; min-width: 200px;color: #6b6b6b;">Functional Description</th>
                                                <th rowspan="2" style="width: 5%; min-width: 120px;color: #6b6b6b;">Planned Date</th>
                                                <th rowspan="2" style="width: 5%; min-width: 130px;color: #6b6b6b;">Completed On </th>
                                                <th colspan="2" style="width: 2%;text-align: center; min-width: 80px;color: #6b6b6b;">Validation</th>
                                                <th rowspan="2" style="width: 5%; min-width: 200px;color: #6b6b6b;">Deviations Plan vs Actual </th>
                                                <th rowspan="2" style="width: 5%; min-width: 180px;color: #6b6b6b;">Reports Generated on </th>
                                                <th colspan="5" style="width: 2%; text-align: center; min-width: 160px;color: #6b6b6b;">Recommended Actions</th>
                                                <th colspan="2" style="width: 2%; text-align: center; min-width: 160px;color: #6b6b6b;">Error Message</th>
                                            </tr>
                                            <tr>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Date</th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Status</th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">State </th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Actions </th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Observations </th>
                                                <th style="width: 10%;color: #6b6b6b; min-width: 150px;">WO Number</th>
                                                <th style="width: 4%;color: #6b6b6b; min-width: 140px; ">Completed Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in SMPDataExcelGridArray" on-finish-render="ngRepeatFinished" ng-class="{'Error': row.Color == 'Red', 'Modify': row.Color == 'Blue', 'New': row.Color == 'Green'}">
                                                <td scope="row" ng-class="{'Error': row.Color == 'Red', 'Modify': row.Color == 'Blue', 'New': row.Color == 'Green'}">
                                                    {{$index + 1}}
                                                    <input type="text" style="display:none ; border:0px;" value="{{row.RowId}}" />
                                                </td>
                                                <td style="text-align:center;" ng-show="!isEditSMPData && IsSaveEditable">
                                                    <a style="cursor: pointer;" ng-click="DeleteSMPData(row, 1)">
                                                        <img style="height: 20px;" src="~/Content/img/delete.png">
                                                    </a>
                                                    <a style="cursor: pointer;" ng-click="EditSMPData(row, 1)" title="Edit">
                                                        <img style="height: 20px;" src="~/Content/img/edit.png">
                                                    </a>
                                                </td>
                                                <td>{{row.State}}</td>
                                                <td>{{row.Site}}</td>
                                                <td>{{row.Model}}</td>
                                                <td>{{row.Location}}</td>
                                                <td>{{row.TurbineId}}</td>
                                                <td>{{row.FnLoc}}</td>
                                                <td>{{row.FunctionalDescription}}</td>
                                                <td>{{row.PlannedDate}}</td>
                                                <td>{{row.CompletedOn}}</td>
                                                <td>{{row.ValidationDate}}</td>
                                                <td>{{row.ValidationStatus}}</td>
                                                <td>{{row.DeviationPlanVsActual}}</td>
                                                <td>{{row.ReportsGeneratedOn}}</td>
                                                <td>{{row.RecommendedActionsState}}</td>
                                                <td>{{row.RecommendedActions}}</td>
                                                <td>{{row.RecommendedActionsObservations}}</td>
                                                <td>{{row.RecommendedActionsWONumber}}</td>
                                                <td>{{row.RecommendedActionsCompleted}}</td>
                                                <td class="ErrorMsg">{{row.ErrMsg}}</td>
                                                @*<td class="DelAction" ng-show="Delete">
                                                        <a style="cursor: pointer;" ng-click="DeleteSMPDataExcel(row.RowId)">
                                                            <img style="height: 20px;" src="~/Content/img/delete.png">
                                                        </a>
                                                    </td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12" style="margin: 25px 0px 0px 0px;">
                                <div class="line"></div>
                            </div>
                            <div class="row mar-0 fomr-div">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <span>Remarks</span><span style="color:red;padding:5px;" ng-show="isEditSMPData">*</span><br>
                                    <textarea id="txtSMPDataRemarks" ng-model="SMPDataRemarks" rows="3"></textarea>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <span id="spnStatus">Status</span><span id="spnMStatus" style="color:red;padding:5px;" ng-show="isEditSMPData">*</span>
                                    <select id="ddlStatusSMPData" ng-model="StatusSMPData" disabled="disabled" ng-show="isEditSMPData">
                                        <option ng-repeat="option in StatusArraySMPData" value="{{option.Id}}" ng-selected="{{StatusSMPData == option.Id}}">{{option.Name}}</option>
                                    </select>
                                    <label ng-model="StatusSMPDataName" ng-show="!isEditSMPData" ng-bind="StatusSMPDataName"></label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <span id="spnAssign1">Assign To</span><span id="spnMAssign1" style="color:red;padding:5px;" ng-show="isEditSMPData">*</span>
                                    <select id="ddlAssignedToSMPData" ng-model="AssignedToSMPData" ng-show="isEditSMPData">
                                        <option value="0" selected="selected">-- Select One --</option>
                                        <option ng-repeat="option in AssignToArraySMPData" value="{{option.Id}}" ng-selected="{{AssignedToSMPData == option.Id}}">{{option.Name}}</option>
                                    </select>
                                    <label ng-model="AssignedToSMPDataName" ng-show="!isEditSMPData" ng-bind="AssignedToSMPDataName"></label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: right;">
                                    <br />
                                    <button ng-click="SubmitSMPDataExcel()" id="btnSaveSMPData" ng-show="Add" disabled="disabled" style="background: #2c2c2c; color: #fff;" type="button" class="btn btn-default SaveButton">Save</button>
                                    @*<button ng-click="CancelSMPDataExcel()" id="btnCancelSMPData" ng-show="Delete" disabled="disabled" style="background: #2c2c2c; color: #fff;" type="button" class="btn btn-default SaveButton">Cancel</button>*@
                                    <button ng-click="ClearSMPDataExcel()" type="button" class="btn btn-default ClearButton">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tab sec end-->
                    <!--Tab sec start-->
                    <h2>Verify</h2>
                    <div class="tab-cnt" ng-show="Update">
                        <div style="margin: 20px 0px 0px 0px;" class="row mar-0 fomr-div">
                            <div style="margin-bottom: 10px;" class="row mar-0 fomr-div">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <span>File Name</span><br>
                                    <input type="text" ng-model="FileNameManualVerify" id="txtFileNameManualVerify" ng-blur="GetFileNameDetails(2)" />
                                    <input type="hidden" value="0" id="hdnFileNameManualVerify" />
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12" style="text-align:right;">
                                    <button ng-click="GetComments(2)" id="btnCommentsVerify" disabled="disabled" style="background: #2c2c2c; color: #fff;margin-right: 94px;" type="button" class="btn btn-default SaveButton">View Comments</button>
                                </div>
                            </div>
                            <div class="col-lg-12" style="margin: 10px 0px;">
                                <div class="line"></div>
                            </div>
                            <div class="col-lg-12">
                                <div class="grid-div">
                                    <table cellpadding="0" cellspacing="0" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" style="width: 2%; min-width: 40px;color: #6b6b6b;">S.No</th>
                                                <th rowspan="2" style="width: 2%; min-width: 100px;color: #6b6b6b;" ng-show="IsSaveEditableVerify">Actions</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">State</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">Site</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">Model</th>
                                                <th rowspan="2" style="width: 6%; min-width: 140px;color: #6b6b6b;">Location / SF No</th>
                                                <th rowspan="2" style="width: 8%; min-width: 150px;color: #6b6b6b;">Turbine Id</th>
                                                <th rowspan="2" style="width: 5%; min-width: 160px;color: #6b6b6b;">Functional Location</th>
                                                <th rowspan="2" style="width: 5%; min-width: 200px;color: #6b6b6b;">Functional Description</th>
                                                <th rowspan="2" style="width: 5%; min-width: 120px;color: #6b6b6b;">Planned Date</th>
                                                <th rowspan="2" style="width: 5%; min-width: 130px;color: #6b6b6b;">Completed On </th>
                                                <th colspan="2" style="width: 2%;text-align: center; min-width: 80px;color: #6b6b6b;">Validation</th>
                                                <th rowspan="2" style="width: 5%; min-width: 200px;color: #6b6b6b;">Deviations Plan vs Actual </th>
                                                <th rowspan="2" style="width: 5%; min-width: 180px;color: #6b6b6b;">Reports Generated on </th>
                                                <th colspan="5" style="width: 2%; text-align: center; min-width: 160px;color: #6b6b6b;">Recommended Actions</th>
                                                <th colspan="2" style="width: 2%; text-align: center; min-width: 160px;color: #6b6b6b;">Error Message</th>
                                            </tr>
                                            <tr>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Date</th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Status</th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">State </th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Actions </th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Observations </th>
                                                <th style="width: 10%;color: #6b6b6b; min-width: 150px;">WO Number</th>
                                                <th style="width: 4%;color: #6b6b6b; min-width: 140px; ">Completed Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in VerifyExcelGridArray" ng-class="{'Error': row.Color == 'Red', 'Modify': row.Color == 'Blue', 'New': row.Color == 'Green'}">
                                                <td scope="row" ng-class="{'Error': row.Color == 'Red', 'Modify': row.Color == 'Blue', 'New': row.Color == 'Green'}">
                                                    {{$index + 1}}
                                                    <input type="text" style="display:none ; border:0px;" value="{{row.RowId}}" />
                                                </td>
                                                <td style="text-align:center;" ng-show="IsSaveEditableVerify">
                                                    <a style="cursor: pointer;" ng-click="DeleteSMPData(row, 2)">
                                                        <img style="height: 20px;" src="~/Content/img/delete.png">
                                                    </a>
                                                    <a style="cursor: pointer;" ng-click="EditSMPData(row, 2)" title="Edit">
                                                        <img style="height: 20px;" src="~/Content/img/edit.png">
                                                    </a>
                                                </td>
                                                <td>{{row.State}}</td>
                                                <td>{{row.Site}}</td>
                                                <td>{{row.Model}}</td>
                                                <td>{{row.Location}}</td>
                                                <td>{{row.TurbineId}}</td>
                                                <td>{{row.FnLoc}}</td>
                                                <td>{{row.FunctionalDescription}}</td>
                                                <td>{{row.PlannedDate}}</td>
                                                <td>{{row.CompletedOn}}</td>
                                                <td>{{row.ValidationDate}}</td>
                                                <td>{{row.ValidationStatus}}</td>
                                                <td>{{row.DeviationPlanVsActual}}</td>
                                                <td>{{row.ReportsGeneratedOn}}</td>
                                                <td>{{row.RecommendedActionsState}}</td>
                                                <td>{{row.RecommendedActions}}</td>
                                                <td>{{row.RecommendedActionsObservations}}</td>
                                                <td>{{row.RecommendedActionsWONumber}}</td>
                                                <td>{{row.RecommendedActionsCompleted}}</td>
                                                <td class="ErrorMsg">{{row.ErrMsg}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12" style="margin: 25px 0px 0px 0px;">
                                <div class="line"></div>
                            </div>
                            <div class="row mar-0 fomr-div">
                                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="IsSaveEditableVerify">
                                    <span>Remarks</span>
                                    <br>
                                    <textarea id="txtVerifyRemarks" ng-model="RemarksVerify" rows="3"></textarea>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" ng-show="IsSaveEditableVerify">
                                    <span>Status</span><span style="color:red;padding:5px;" ng-show="isEditVerify">*</span>
                                    <select id="ddlStatusVerify" ng-model="StatusVerify" ng-show="isEditVerify" ng-change="LoadAssignDetailsToVerify()">
                                        <option value="0" selected="selected">-- Select One --</option>
                                        <option ng-repeat="option in StatusArrayVerify" value="{{option.Id}}" ng-selected="{{StatusVerify == option.Id}}">{{option.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" ng-show="IsSaveEditableVerify">
                                    <span>Assign To</span><span style="color:red;padding:5px;">*</span>
                                    <select id="ddlAssignedToVerify" ng-model="AssignedToVerify" ng-show="isEditVerify">
                                        <option value="0" selected="selected">-- Select One --</option>
                                        <option ng-repeat="option in AssignToArrayVerify" value="{{option.Id}}" ng-selected="{{AssignedToVerify == option.Id}}">{{option.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: right;">
                                    <br />
                                    <button ng-click="SubmitVerifyExcel()" id="btnSaveVerify" ng-show="Update && IsSaveEditableVerify" style="background: #2c2c2c; color: #fff;margin-left:0px;" type="button" class="btn btn-default SaveButton">Save</button>
                                    <button ng-click="ClearVerifyExcel()" type="button" class="btn btn-default ClearButton">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tab sec end-->
                    <!--Tab sec start-->
                    <h2>Approve</h2>
                    <div class="tab-cnt" ng-show="Delete">
                        <div style="margin: 20px 0px 0px 0px;" class="row mar-0 fomr-div">
                            <div style="margin-bottom: 10px;" class="row mar-0 fomr-div">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <span>File Name</span><br>
                                    <input type="text" ng-model="FileNameManualApprove" id="txtFileNameManualApprove" ng-blur="GetFileNameDetails(3)" />
                                    <input type="hidden" value="0" id="hdnFileNameManualApprove" />
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12" style="text-align:right;">
                                    <button ng-click="GetComments(3)" id="btnCommentsApprove" disabled="disabled" style="background: #2c2c2c; color: #fff;margin-right: 94px;" type="button" class="btn btn-default SaveButton">View Comments</button>
                                </div>
                            </div>
                            <div class="col-lg-12" style="margin: 10px 0px;">
                                <div class="line"></div>
                            </div>
                            <div class="col-lg-12">
                                <div class="grid-div">
                                    <table cellpadding="0" cellspacing="0" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" style="width: 2%; min-width: 40px;color: #6b6b6b;">S.No</th>
                                                <th rowspan="2" style="width: 2%; min-width: 100px;color: #6b6b6b;" ng-show="IsSaveEditableApprove">Actions</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">State</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">Site</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">Model</th>
                                                <th rowspan="2" style="width: 6%; min-width: 140px;color: #6b6b6b;">Location / SF No</th>
                                                <th rowspan="2" style="width: 8%; min-width: 150px;color: #6b6b6b;">Turbine Id</th>
                                                <th rowspan="2" style="width: 5%; min-width: 160px;color: #6b6b6b;">Functional Location</th>
                                                <th rowspan="2" style="width: 5%; min-width: 200px;color: #6b6b6b;">Functional Description</th>
                                                <th rowspan="2" style="width: 5%; min-width: 120px;color: #6b6b6b;">Planned Date</th>
                                                <th rowspan="2" style="width: 5%; min-width: 130px;color: #6b6b6b;">Completed On </th>
                                                <th colspan="2" style="width: 2%;text-align: center; min-width: 80px;color: #6b6b6b;">Validation</th>
                                                <th rowspan="2" style="width: 5%; min-width: 200px;color: #6b6b6b;">Deviations Plan vs Actual </th>
                                                <th rowspan="2" style="width: 5%; min-width: 180px;color: #6b6b6b;">Reports Generated on </th>
                                                <th colspan="5" style="width: 2%; text-align: center; min-width: 160px;color: #6b6b6b;">Recommended Actions</th>
                                                <th colspan="2" style="width: 2%; text-align: center; min-width: 160px;color: #6b6b6b;">Error Message</th>
                                            </tr>
                                            <tr>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Date</th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Status</th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">State </th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Actions </th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Observations </th>
                                                <th style="width: 10%;color: #6b6b6b; min-width: 150px;">WO Number</th>
                                                <th style="width: 4%;color: #6b6b6b; min-width: 140px; ">Completed Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in ApproveExcelGridArray" ng-class="{'Error': row.Color == 'Red', 'Modify': row.Color == 'Blue', 'New': row.Color == 'Green'}">
                                                <td scope="row" ng-class="{'Error': row.Color == 'Red', 'Modify': row.Color == 'Blue', 'New': row.Color == 'Green'}">
                                                    {{$index + 1}}
                                                    <input type="text" style="display:none ; border:0px;" value="{{row.RowId}}" />
                                                </td>
                                                <td style="text-align:center;" ng-show="IsSaveEditableApprove">
                                                    <a style="cursor: pointer;" ng-click="DeleteSMPData(row, 3)">
                                                        <img style="height: 20px;" src="~/Content/img/delete.png">
                                                    </a>
                                                    <a style="cursor: pointer;" ng-click="EditSMPData(row, 3)" title="Edit">
                                                        <img style="height: 20px;" src="~/Content/img/edit.png">
                                                    </a>
                                                </td>
                                                <td>{{row.State}}</td>
                                                <td>{{row.Site}}</td>
                                                <td>{{row.Model}}</td>
                                                <td>{{row.Location}}</td>
                                                <td>{{row.TurbineId}}</td>
                                                <td>{{row.FnLoc}}</td>
                                                <td>{{row.FunctionalDescription}}</td>
                                                <td>{{row.PlannedDate}}</td>
                                                <td>{{row.CompletedOn}}</td>
                                                <td>{{row.ValidationDate}}</td>
                                                <td>{{row.ValidationStatus}}</td>
                                                <td>{{row.DeviationPlanVsActual}}</td>
                                                <td>{{row.ReportsGeneratedOn}}</td>
                                                <td>{{row.RecommendedActionsState}}</td>
                                                <td>{{row.RecommendedActions}}</td>
                                                <td>{{row.RecommendedActionsObservations}}</td>
                                                <td>{{row.RecommendedActionsWONumber}}</td>
                                                <td>{{row.RecommendedActionsCompleted}}</td>
                                                <td class="ErrorMsg">{{row.ErrMsg}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-lg-12" style="margin: 25px 0px 0px 0px;">
                                <div class="line"></div>
                            </div>

                            <div class="row mar-0 fomr-div">
                                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="IsSaveEditableApprove">
                                    <span>Remarks</span><br>
                                    <textarea id="txtApproveRemarks" ng-model="RemarksApprove" rows="3"></textarea>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" ng-show="IsSaveEditableApprove">
                                    <span>Status</span><span style="color:red;padding:5px;">*</span>
                                    <select id="ddlStatusApprove" ng-model="StatusApprove" ng-show="isEditApprove" ng-change="LoadAssignDetailsToApprove()">
                                        <option value="0" selected="selected">-- Select One --</option>
                                        <option ng-repeat="option in StatusArrayApprove" value="{{option.Id}}" ng-selected="{{StatusApprove == option.Id}}">{{option.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" ng-show="IsSaveEditableApprove">
                                    <span id="spnAssign">Assign To</span>
                                    <select id="ddlAssignedToApprove" ng-model="AssignedToApprove" ng-show="isEditApprove">
                                        <option value="0" selected="selected">-- Select One --</option>
                                        <option ng-repeat="option in AssignToArrayApprove" value="{{option.Id}}" ng-selected="{{AssignedToApprove == option.Id}}">{{option.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
                                    <br />
                                    <button ng-click="SubmitApproveExcel()" id="btnSaveApprove" ng-show="Delete && IsSaveEditableApprove" disabled="disabled" style="background: #2c2c2c; color: #fff;margin-left:0px;" type="button" class="btn btn-default SaveButton">Save</button>
                                    <button ng-click="ClearApproveExcel()" type="button" class="btn btn-default ClearButton">Clear</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--Tab sec end-->
                    <!--Tab sec start-->
                    <h2>Post</h2>
                    <div class="tab-cnt" ng-show="Download">
                        <div style="margin: 20px 0px 0px 0px;" class="row mar-0 fomr-div">
                            <div style="margin-bottom: 10px;" class="row mar-0 fomr-div">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <span>File Name</span><br>
                                    <input type="text" ng-model="FileNameManualPost" id="txtFileNameManualPost" ng-blur="GetFileNameDetails(4)" />
                                    <input type="hidden" value="0" id="hdnFileNameManualPost" />
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12" style="text-align:right;">
                                    <button ng-click="GetComments(4)" id="btnCommentsPost" disabled="disabled" style="background: #2c2c2c; color: #fff;margin-right: 94px;" type="button" class="btn btn-default SaveButton">View Comments</button>
                                </div>
                            </div>
                            <div class="col-lg-12" style="margin: 10px 0px;">
                                <div class="line"></div>
                            </div>
                            <div class="col-lg-12">
                                <div class="grid-div">
                                    <table cellpadding="0" cellspacing="0" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" style="width: 2%; min-width: 40px;color: #6b6b6b;">S.No</th>
                                                <th rowspan="2" style="width: 2%; min-width: 100px;color: #6b6b6b;" ng-show="IsSaveEditablePost">Actions</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">State</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">Site</th>
                                                <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">Model</th>
                                                <th rowspan="2" style="width: 6%; min-width: 140px;color: #6b6b6b;">Location / SF No</th>
                                                <th rowspan="2" style="width: 8%; min-width: 150px;color: #6b6b6b;">Turbine Id</th>
                                                <th rowspan="2" style="width: 5%; min-width: 160px;color: #6b6b6b;">Functional Location</th>
                                                <th rowspan="2" style="width: 5%; min-width: 200px;color: #6b6b6b;">Functional Description</th>
                                                <th rowspan="2" style="width: 5%; min-width: 120px;color: #6b6b6b;">Planned Date</th>
                                                <th rowspan="2" style="width: 5%; min-width: 130px;color: #6b6b6b;">Completed On </th>
                                                <th colspan="2" style="width: 2%;text-align: center; min-width: 80px;color: #6b6b6b;">Validation</th>
                                                <th rowspan="2" style="width: 5%; min-width: 200px;color: #6b6b6b;">Deviations Plan vs Actual </th>
                                                <th rowspan="2" style="width: 5%; min-width: 180px;color: #6b6b6b;">Reports Generated on </th>
                                                <th colspan="5" style="width: 2%; text-align: center; min-width: 160px;color: #6b6b6b;">Recommended Actions</th>
                                                <th colspan="2" style="width: 2%; text-align: center; min-width: 160px;color: #6b6b6b;">Error Message</th>
                                            </tr>
                                            <tr>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Date</th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Status</th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">State </th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Actions </th>
                                                <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Observations </th>
                                                <th style="width: 10%;color: #6b6b6b; min-width: 150px;">WO Number</th>
                                                <th style="width: 4%;color: #6b6b6b; min-width: 140px; ">Completed Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in PostExcelGridArray" ng-class="{'Error': row.Color == 'Red', 'Modify': row.Color == 'Blue', 'New': row.Color == 'Green'}">
                                                <td scope="row" ng-class="{'Error': row.Color == 'Red', 'Modify': row.Color == 'Blue', 'New': row.Color == 'Green'}">
                                                    {{$index + 1}}
                                                    <input type="text" style="display:none ; border:0px;" value="{{row.RowId}}" />
                                                </td>
                                                <td style="text-align:center;" ng-show="IsSaveEditablePost">
                                                    <a style="cursor: pointer;" ng-click="DeleteSMPData(row, 4)">
                                                        <img style="height: 20px;" src="~/Content/img/delete.png">
                                                    </a>
                                                    <a style="cursor: pointer;" ng-click="EditSMPData(row, 4)" title="Edit">
                                                        <img style="height: 20px;" src="~/Content/img/edit.png">
                                                    </a>
                                                </td>
                                                <td>{{row.State}}</td>
                                                <td>{{row.Site}}</td>
                                                <td>{{row.Model}}</td>
                                                <td>{{row.Location}}</td>
                                                <td>{{row.TurbineId}}</td>
                                                <td>{{row.FnLoc}}</td>
                                                <td>{{row.FunctionalDescription}}</td>
                                                <td>{{row.PlannedDate}}</td>
                                                <td>{{row.CompletedOn}}</td>
                                                <td>{{row.ValidationDate}}</td>
                                                <td>{{row.ValidationStatus}}</td>
                                                <td>{{row.DeviationPlanVsActual}}</td>
                                                <td>{{row.ReportsGeneratedOn}}</td>
                                                <td>{{row.RecommendedActionsState}}</td>
                                                <td>{{row.RecommendedActions}}</td>
                                                <td>{{row.RecommendedActionsObservations}}</td>
                                                <td>{{row.RecommendedActionsWONumber}}</td>
                                                <td>{{row.RecommendedActionsCompleted}}</td>
                                                <td class="ErrorMsg">{{row.ErrMsg}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12" style="margin: 25px 0px 0px 0px;">
                                <div class="line"></div>
                            </div>
                            <div class="row mar-0 fomr-div">
                                <div class="col-lg-12 col-md-12 col-sm-12" ng-show="IsSaveEditablePost">
                                    <span>Remarks</span><br>
                                    <textarea id="txtPostRemarks" ng-model="RemarksPost" rows="3"></textarea>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" ng-show="IsSaveEditablePost">
                                    <span>Status</span><span style="color:red;padding:5px;">*</span>
                                    <select id="ddlStatusPost" ng-model="StatusPost" ng-show="isEditPost" ng-change="LoadAssignDetailsToPost()">
                                        <option value="0" selected="selected">-- Select One --</option>
                                        <option ng-repeat="option in StatusArrayPost" value="{{option.Id}}" ng-selected="{{StatusPost == option.Id}}">{{option.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" ng-show="IsSaveEditablePost">
                                    <span id="spnAssign">Assign To</span>
                                    <select id="ddlAssignedToPost" ng-model="AssignedToPost" ng-show="isEditPost">
                                        <option value="0" selected="selected">-- Select One --</option>
                                        <option ng-repeat="option in AssignToArrayPost" value="{{option.Id}}" ng-selected="{{AssignedToPost == option.Id}}">{{option.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;">
                                    <br />
                                    <button ng-click="SubmitPostExcel()" id="btnSavePost" ng-show="Download && IsSaveEditablePost" style="background: #2c2c2c; color: #fff;margin-left:0px;" type="button" class="btn btn-default SaveButton">Post</button>
                                    <button ng-click="ClearPostExcel()" type="button" class="btn btn-default ClearButton">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tab sec end-->
                </div>
            </div>
            <div class="col-lg-12" ng-show="IsAdmin">
                <div style="margin: 20px 0px 0px 0px;" class="row mar-0 fomr-div">
                    <div style="margin-bottom: 10px;" class="row mar-0 fomr-div">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <span>File Name</span><br>
                            <input type="text" ng-model="FileNameManualAdmin" id="txtFileNameManualAdmin" ng-blur="GetFileNameDetails(0)" />
                            <input type="hidden" value="0" id="hdnFileNameManualAdmin" />
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12" style="text-align:right;">
                            <button ng-click="GetComments(0)" id="btnCommentsAdmin" disabled="disabled" style="background: #2c2c2c; color: #fff;margin-right: 94px;" type="button" class="btn btn-default SaveButton">View Comments</button>
                        </div>
                    </div>
                    <div class="col-lg-12" style="margin: 10px 0px;">
                        <div class="line"></div>
                    </div>
                    <div class="col-lg-12">
                        <div class="grid-div">
                            <table cellpadding="0" cellspacing="0" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th rowspan="2" style="width: 2%; min-width: 40px;color: #6b6b6b;">S.No</th>
                                        <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">State</th>
                                        <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">Site</th>
                                        <th rowspan="2" style="width: 6%; min-width: 100px;color: #6b6b6b;">Model</th>
                                        <th rowspan="2" style="width: 6%; min-width: 140px;color: #6b6b6b;">Location / SF No</th>
                                        <th rowspan="2" style="width: 8%; min-width: 150px;color: #6b6b6b;">Turbine Id</th>
                                        <th rowspan="2" style="width: 5%; min-width: 160px;color: #6b6b6b;">Functional Location</th>
                                        <th rowspan="2" style="width: 5%; min-width: 200px;color: #6b6b6b;">Functional Description</th>
                                        <th rowspan="2" style="width: 5%; min-width: 120px;color: #6b6b6b;">Planned Date</th>
                                        <th rowspan="2" style="width: 5%; min-width: 130px;color: #6b6b6b;">Completed On </th>
                                        <th colspan="2" style="width: 2%;text-align: center; min-width: 80px;color: #6b6b6b;">Validation</th>
                                        <th rowspan="2" style="width: 5%; min-width: 200px;color: #6b6b6b;">Deviations Plan vs Actual </th>
                                        <th rowspan="2" style="width: 5%; min-width: 180px;color: #6b6b6b;">Reports Generated on </th>
                                        <th colspan="5" style="width: 2%; text-align: center; min-width: 160px;color: #6b6b6b;">Recommended Actions</th>
                                        <th colspan="2" style="width: 2%; text-align: center; min-width: 160px;color: #6b6b6b;">Error Message</th>
                                    </tr>
                                    <tr>
                                        <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Date</th>
                                        <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Status</th>
                                        <th style="width: 5%; min-width: 80px;color: #6b6b6b;">State </th>
                                        <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Actions </th>
                                        <th style="width: 5%; min-width: 80px;color: #6b6b6b;">Observations </th>
                                        <th style="width: 10%;color: #6b6b6b; min-width: 150px;">WO Number</th>
                                        <th style="width: 4%;color: #6b6b6b; min-width: 140px; ">Completed Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in AdminExcelGridArray" ng-class="{'Error': row.Color == 'Red', 'Modify': row.Color == 'Blue', 'New': row.Color == 'Green'}">
                                        <td scope="row" ng-class="{'Error': row.Color == 'Red', 'Modify': row.Color == 'Blue', 'New': row.Color == 'Green'}">
                                            {{$index + 1}}
                                            <input type="text" style="display:none ; border:0px;" value="{{row.RowId}}" />
                                        </td>
                                        <td>{{row.State}}</td>
                                        <td>{{row.Site}}</td>
                                        <td>{{row.Model}}</td>
                                        <td>{{row.Location}}</td>
                                        <td>{{row.TurbineId}}</td>
                                        <td>{{row.FnLoc}}</td>
                                        <td>{{row.FunctionalDescription}}</td>
                                        <td>{{row.PlannedDate}}</td>
                                        <td>{{row.CompletedOn}}</td>
                                        <td>{{row.ValidationDate}}</td>
                                        <td>{{row.ValidationStatus}}</td>
                                        <td>{{row.DeviationPlanVsActual}}</td>
                                        <td>{{row.ReportsGeneratedOn}}</td>
                                        <td>{{row.RecommendedActionsState}}</td>
                                        <td>{{row.RecommendedActions}}</td>
                                        <td>{{row.RecommendedActionsObservations}}</td>
                                        <td>{{row.RecommendedActionsWONumber}}</td>
                                        <td>{{row.RecommendedActionsCompleted}}</td>
                                        <td class="ErrorMsg">{{row.ErrMsg}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12" style="margin: 25px 0px 0px 0px;">
                        <div class="line"></div>
                    </div>
                    <div class="row mar-0 fomr-div">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <span>Status</span>
                            <label ng-bind="StatusAdmin"></label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <span>Assign To</span>
                            <label ng-bind="AssignToAdmin"></label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: right;">
                            <br />
                            <button ng-click="ClearAdminExcel()" type="button" class="btn btn-default ClearButton">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mar-0">
                <div class="col-lg-12">
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <table style="display: none;" id="tblExcelFormat">
        <thead>
            <tr>
                <td>
                    SlNo
                </td>
                <td>
                    Turbine
                </td>
                <td>
                    Customer
                </td>
                <td>
                    DOC
                </td>
                <td>
                    Site
                </td>
                <td>
                    Functional Location

                </td>
                <td>
                    Capacity

                </td>
                <td>
                    Tower Height

                </td>
                <td>
                    Blade

                </td>
                <td>
                    Generator

                </td>
                <td>
                    Generator SlNo

                </td>
                <td>
                    Gear Box

                </td>
                <td>
                    Gear Box SlNo

                </td>
                <td>
                    Temperature

                </td>
                <td>
                    Dust

                </td>
                <td>
                    Corrosion

                </td>

            </tr>
        </thead>
        <tbody>
            @*<tr ng-repeat="row in TurbineGridArray">
                    <th>{{row.Slno}}</th>
                    <td>{{row.TurbineId}}</td>
                    <td>{{row.CustomerName}}</td>
                    <td>{{row.DOC}}</td>
                    <td>{{row.SiteName}}</td>
                    <td>{{row.FnLoc}}</td>
                    <td>{{row.Capacity}}</td>
                    <td>{{row.TowerHeightName}}</td>
                    <td>{{row.BladeName}}</td>
                    <td>{{row.Generator}}</td>
                    <td>{{row.GRSlno}}</td>
                    <td>{{row.GearBox}}</td>
                    <td>{{row.GBSlno}}</td>
                    <td>{{row.Tempname}}</td>
                    <td>{{row.DustName}}</td>
                    <td>{{row.Corrosion}}</td>
                </tr>*@
        </tbody>
    </table>
    <div class="modal fade bs-example-modal-lg" id="modalSMPDataComments" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="fnHideLoadingGif()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">SMP Data</h4>
                </div>
                <div class="modal-body" style="overflow:auto;height:600px;">
                    <table cellpadding="0" cellspacing="0" class="table table-hover table-responsive">
                        <thead style="border-top: 1px solid #dddddd;border-bottom: 2px solid #dddddd;">
                            <tr>
                                <td>SlNo</td>
                                <td>From</td>
                                <td>To</td>
                                <td>Comments</td>
                                <td>Status</td>
                                <td>Assigned Date</td>
                                <td>Comments Date</td>
                            </tr>
                        </thead>
                        <tbody style="border-bottom: 1px solid #dddddd;">
                            <tr ng-repeat="row in CommentsGridArray">
                                <td style="text-align:center;">{{$index +1}}</td>
                                <td>{{row.From}}</td>
                                <td>{{row.To}}</td>
                                <td>{{row.FromComments}}</td>
                                <td>{{row.Status}}</td>
                                <td>{{row.AssignedDate}}</td>
                                <td>{{row.CommentsDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-default ClearButton" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="modalSMPDataComments" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="fnHideLoadingGif()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">SMP Data Comments</h4>
                </div>
                <div class="modal-body" style="overflow:auto;height:600px;">
                    <table cellpadding="0" cellspacing="0" class="table table-hover table-responsive">
                        <thead style="border-top: 1px solid #dddddd;border-bottom: 2px solid #dddddd;">
                            <tr>
                                <td>SlNo</td>
                                <td>From</td>
                                <td>To</td>
                                <td>Comments</td>
                                <td>Status</td>
                                <td>Assigned Date</td>
                                <td>Comments Date</td>
                            </tr>
                        </thead>
                        <tbody style="border-bottom: 1px solid #dddddd;">
                            <tr ng-repeat="row in CommentsGridArray">
                                <td style="text-align:center;">{{$index +1}}</td>
                                <td>{{row.From}}</td>
                                <td>{{row.To}}</td>
                                <td>{{row.FromComments}}</td>
                                <td>{{row.Status}}</td>
                                <td>{{row.AssignedDate}}</td>
                                <td>{{row.CommentsDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-default ClearButton" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="modalSMPData" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="fnHideLoadingGif()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">SMP Data Details</h4>
                </div>
                <div class="modal-body" style="overflow:auto;height:600px;">
                    <div class="row mar-0 fomr-div">
                        <div class="row mar-0 fomr-div">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>State</span>
                                <input type="hidden" value="0" id="hdnEditState" />
                                <input type="text" id="txtEditState" maxlength="50" ng-model="EditState" ng-blur="LoadSiteDetails()" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Site</span>
                                <input type="hidden" value="0" id="hdnEditSite" />
                                <input type="text" id="txtEditSite" maxlength="50" ng-model="EditSite" />
                            </div>
                        </div>
                    </div>
                    <div class="row mar-0 fomr-div">
                        <div class="row mar-0 fomr-div">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Site</span>
                                <input type="hidden" value="0" id="hdnEditTurbineId" />
                                <input type="text" id="txtEditTurbineId" maxlength="50" ng-model="EditTurbineId" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Model</span>
                                <select id="ddlEditModel" ng-model="EditModel">
                                    <option value="0">-- Select One --</option>
                                    <option ng-repeat="option in WTGTypeSelect" value="{{option.MCId}}">{{option.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mar-0 fomr-div">
                        <div class="row mar-0 fomr-div">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Location / SF No</span>
                                <input type="text" id="txtEditLocation" maxlength="100" ng-model="EditLocation" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Functional Location</span>
                                <input type="text" id="txtEditFunctionalLocation" maxlength="100" ng-model="EditFunctionalLocation" />
                            </div>
                        </div>
                    </div>
                    <div class="row mar-0 fomr-div">
                        <div class="row mar-0 fomr-div">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Functional Description</span>
                                <input type="text" id="txtEditFunctionalDescription" maxlength="100" ng-model="EditFunctionalDescription" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Planned Date</span>
                                <input type="text" id="txtEditPlannedDate" ng-model="EditPlannedDate" class="datepickerFormat" onkeypress="return isEvent(event)" />
                            </div>
                        </div>
                    </div>
                    <div class="row mar-0 fomr-div">
                        <div class="row mar-0 fomr-div">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Completed On</span>
                                <input type="text" id="txtEditCompletedOn" ng-model="EditCompletedOn" class="datepickerFormat" onkeypress="return isEvent(event)" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Validation Date</span>
                                <input type="text" id="txtEditValidationDate" ng-model="EditValidationDate" class="datepickerFormat" onkeypress="return isEvent(event)" />
                            </div>
                        </div>
                    </div>
                    <div class="row mar-0 fomr-div">
                        <div class="row mar-0 fomr-div">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Validation Status</span>
                                <select id="ddlEditValidationStatus" ng-model="EditValidationStatus">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Deviation Plan Vs Actual</span>
                                <input type="text" id="txtDeviationPlanVsActual" ng-model="EditDeviationPlanVsActual" onkeypress="return isNumber(event)" />
                            </div>
                        </div>
                    </div>
                    <div class="row mar-0 fomr-div">
                        <div class="row mar-0 fomr-div">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Report Generated On</span>
                                <input type="text" id="txtEditReportGeneratedOn" ng-model="EditReportGeneratedOn" class="datepickerFormat" onkeypress="return isEvent(event)" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Recommended Actions - State</span>
                                <input type="text" id="txtEditRecommendedActionsState" ng-model="EditRecommendedActionsState" maxlength="150" />
                            </div>
                        </div>
                    </div>
                    <div class="row mar-0 fomr-div">
                        <div class="row mar-0 fomr-div">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Recommended Actions - Actions</span>
                                <input type="text" id="txtEditRecommendedActionsActions" ng-model="EditRecommendedActionsActions" maxlength="150" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Recommended Actions - Observations</span>
                                <input type="text" id="txtEditRecommendedActionsObservations" ng-model="EditRecommendedActionsObservations" maxlength="150" />
                            </div>
                        </div>
                    </div>
                    <div class="row mar-0 fomr-div">
                        <div class="row mar-0 fomr-div">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Recommended Actions - WONumber</span>
                                <input type="text" id="txtEditRecommendedActionsWONumber" ng-model="EditRecommendedActionsWONumber" maxlength="150" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <span>Recommended Actions - Completed Date</span>
                                <input type="text" id="txtEditRecommendedActionsCompletedDate" ng-model="EditRecommendedActionsCompletedDate" class="datepickerFormat" onkeypress="return isEvent(event)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-default ClearButton" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default SaveButton" ng-click="EditSaveSMPData()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".clsExcelFileSMP").on('change', function (e) {
        var iframe = $('<iframe name="postiframe" id="postiframe" style="display: none"></iframe>');
        $("body").append(iframe);
        var form = $('#uploadform');
        form.attr("action", UploadExcelUrl);
        form.attr("method", "post");
        form.attr("encoding", "multipart/form-data");
        form.attr("enctype", "multipart/form-data");
        form.attr("target", "postiframe");
        form.attr("file", $('#ExcelFileSMP').val());
        form.submit();
    });

    $("#txtFileNameManualSMPData").keyup(function (e) {
        if (e.which != 13) {
            $("#hdnFileNameManualSMPData").val("0");
        }
        var SMPDataExcelModel = {
            SUNo: "0",
            ViewType: "4",
            Level: "0",
            Text: $("#txtFileNameManualSMPData").val()
        };

        $("#txtFileNameManualSMPData").autocomplete({
            minlength: 0,
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetSMPDataExcel", "Master")",
                    data: JSON.stringify(SMPDataExcelModel),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data.result.SMPStatusOrAssignDetails, function (item) {
                            return {
                                label: item.Name,
                                val: item.Id
                            }
                        }))
                    },
                    error: function (response) {

                    },
                    failure: function (respose) {

                    }
                });
            },
            select: function (e, i) {
                $("#hdnFileNameManualSMPData").val(i.item.val);
                $("#txtFileNameManualSMPData").val(i.item.label);
            }
        });
    });

    $("#txtEditState").keyup(function (e) {
        if (e.which != 13) {
            $("#hdnEditState").val("0");
        }
        var CIRDetails = {
            txt: $("#txtEditState").val(),
            refId: "0",
            viewType: "1"
        };

        $("#txtEditState").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: "@Url.Action("GetSearchDetails", "CIR")",
                    data: JSON.stringify(CIRDetails),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        response($.map(data, function (item) {
                            return {
                                label: item.TextValue,
                                val: item.Id
                            }
                        }))
                    },
                    error: function (response) {

                    },
                    failure: function (respose) {

                    }
                });
            },
            minlength: 1,
            select: function (e, i) {
                $("#hdnEditState").val(i.item.val);
                $("#txtEditState").val(i.item.label);
            }
        });
    });

    $("#txtEditSite").keyup(function (e) {
        if (e.which != 13) {
            $("#hdnEditSite").val("0");
        }

        var CIRDetails = {
            txt: $("#txtEditSite").val(),
            refId: $("#hdnEditState").val() == "0" ? "" : $("#hdnEditState").val(),
            viewType: "2"
        };

        $("#txtEditSite").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetSearchDetails", "CIR")",
                    data: JSON.stringify(CIRDetails),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        response($.map(data, function (item) {
                            return {
                                label: item.TextValue,
                                val: item.Id
                            }
                        }))
                    },
                    error: function (response) {

                    },
                    failure: function (respose) {

                    }
                });
            },
            minlength: 1,
            select: function (e, i) {
                $("#hdnEditSite").val(i.item.val);
                $("#txtEditSite").val(i.item.label);
            }
        });
    });

    $("#txtEditTurbineId").keyup(function (e) {
        var CIRDetails = {
            txt: $("#txtEditTurbineId").val(),
            refId: $("#hdnEditSite").val() == "0" ? "" : $("#hdnEditSite").val(),
            viewType: "3"
        };
        $("#txtEditTurbineId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetSearchDetails", "CIR")",
                    data: JSON.stringify(CIRDetails),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.TextValue,
                                val: item.Id
                            }
                        }))
                    },
                    error: function (response) {

                    },
                    failure: function (respose) {

                    }
                });
            },
            minlength: 1,
            select: function (e, i) {
                $("#hdnEditTurbineId").val(i.item.val);
                $("#txtEditTurbineId").val(i.item.label);
            }
        });
    });

    $("#txtFileNameManualVerify").keyup(function (e) {
        if (e.which != 13) {
            $("#hdnFileNameManualVerify").val("0");
        }
        var SMPDataExcelModel = {
            SUNo: "0",
            ViewType: "4",
            Level: "0",
            Text: $("#txtFileNameManualVerify").val()
        };

        $("#txtFileNameManualVerify").autocomplete({
            minlength: 0,
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetSMPDataExcel", "Master")",
                    data: JSON.stringify(SMPDataExcelModel),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data.result.SMPStatusOrAssignDetails, function (item) {
                            return {
                                label: item.Name,
                                val: item.Id
                            }
                        }))
                    },
                    error: function (response) {

                    },
                    failure: function (respose) {

                    }
                });
            },
            select: function (e, i) {
                $("#hdnFileNameManualVerify").val(i.item.val);
                $("#txtFileNameManualVerify").val(i.item.label);
            }
        });
    });

    $("#txtFileNameManualApprove").keyup(function (e) {
        if (e.which != 13) {
            $("#hdnFileNameManualApprove").val("0");
        }
        var SMPDataExcelModel = {
            SUNo: "0",
            ViewType: "4",
            Level: "0",
            Text: $("#txtFileNameManualApprove").val()
        };

        $("#txtFileNameManualApprove").autocomplete({
            minlength: 0,
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetSMPDataExcel", "Master")",
                    data: JSON.stringify(SMPDataExcelModel),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data.result.SMPStatusOrAssignDetails, function (item) {
                            return {
                                label: item.Name,
                                val: item.Id
                            }
                        }))
                    },
                    error: function (response) {

                    },
                    failure: function (respose) {

                    }
                });
            },
            select: function (e, i) {
                $("#hdnFileNameManualApprove").val(i.item.val);
                $("#txtFileNameManualApprove").val(i.item.label);
            }
        });
    });

    $("#txtFileNameManualPost").keyup(function (e) {
        if (e.which != 13) {
            $("#hdnFileNameManualPost").val("0");
        }
        var SMPDataExcelModel = {
            SUNo: "0",
            ViewType: "4",
            Level: "0",
            Text: $("#txtFileNameManualPost").val()
        };

        $("#txtFileNameManualPost").autocomplete({
            minlength: 0,
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetSMPDataExcel", "Master")",
                    data: JSON.stringify(SMPDataExcelModel),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data.result.SMPStatusOrAssignDetails, function (item) {
                            return {
                                label: item.Name,
                                val: item.Id
                            }
                        }))
                    },
                    error: function (response) {

                    },
                    failure: function (respose) {

                    }
                });
            },
            select: function (e, i) {
                $("#hdnFileNameManualPost").val(i.item.val);
                $("#txtFileNameManualPost").val(i.item.label);
            }
        });
    });

    $("#txtFileNameManualAdmin").keyup(function (e) {
        if (e.which != 13) {
            $("#hdnFileNameManualAdmin").val("0");
        }
        var SMPDataExcelModel = {
            SUNo: "0",
            ViewType: "4",
            Level: "0",
            Text: $("#txtFileNameManualAdmin").val()
        };

        $("#txtFileNameManualAdmin").autocomplete({
            minlength: 0,
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetSMPDataExcel", "Master")",
                    data: JSON.stringify(SMPDataExcelModel),
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data.result.SMPStatusOrAssignDetails, function (item) {
                            return {
                                label: item.Name,
                                val: item.Id
                            }
                        }))
                    },
                    error: function (response) {

                    },
                    failure: function (respose) {

                    }
                });
            },
            select: function (e, i) {
                $("#hdnFileNameManualAdmin").val(i.item.val);
                $("#txtFileNameManualAdmin").val(i.item.label);
            }
        });
    });

    function fnHideLoadingGif() {
            fnRemoveGif();
    }

    fnTemplateDownload();

    function fnTemplateDownload() {
        var data = window.location.href;
        var Url = data.toLowerCase().replace('/master/smpdata', '');
        $("#aTemplateDownload").attr('href', (Url + "/Template/SMP Data  System Monitoring Template.xlsx"));
    }

</script>
<script src="~/CIRScripts/MasterController.js" type="text/javascript"></script>